<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Chrome Test" preserve-order="true">
  	<!-- Pass the browser value = chrome/firefox -->
  	<parameter name="browser" value="chrome" />
    <classes>
      <class name="test.LaunchApp"/>
      <!-- <class name="test.Signup"/> -->
      <class name="test.Login"/>
      <class name="test.SearchProduct"/>
      <class name="test.AddToCart"/>
      <class name="test.ProceedToCheckout"/>
      <class name="test.SaveAndSelectAddress"/>
      <class name="test.PlaceAndVerifyOrder"/>
      <class name="test.Logout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
